htmml, body {
  height: 100%;
}
body {
  margin:0;
  top: 0;
  padding: 0;  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://wallstilldawn.com/background);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
}
#container {
    margin: 0 auto;
    width: 600px;
    max-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
#keyword {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.19);
    border: none;
    font-family: 'Courgette';
    font-size: 35pt;
    color: white;
    text-shadow: 1px 1px red;
    font-weight: bold;
}

#tweets {
    height: 100%;
    display: block;
    max-height: 80vh;
    overflow-y scroll;    
    padding: 0 0 50px 0;
    box-sizing: border-box;   
    overflow-y: scroll; 
}

#tweets li {
  list-style: none;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#tweets li + li {
  margin: 5px 0 0 0;
}

#tweets li p {
  flex: 1;
}

#tweets li img {
  padding-left: 5px;
  width: 64px;
  height: 64px;
  padding: 0 5px;
}

#sentiments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.65);
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 114px;
}
#sentiments li {
  background: none;
  padding: 0;
  list-style: none;
  text-align: center;
}
#sentiments li img {
  width: 64px;
  height: 64px;
}
#sentiments li span {
  border-radius: 14px;
  padding: 5px;
  display: block;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
.sentiment_-4 { background-color: rgba(255, 0, 0, 0.50); }
.sentiment_-2 { background-color: rgba(255, 96, 0, 0.50); }
.sentiment_-1 { background-color: rgba(255, 178, 0, 0.50); }
.sentiment_0 { background-color: rgba(255, 255, 0, 0.50); }
.sentiment_1 { background-color: rgba(214, 255, 0, 0.50); }
.sentiment_2 { background-color: rgba(155, 255, 0, 0.50); }
.sentiment_3 { background-color: rgba(96, 255, 0, 0.50); }
.sentiment_5 { background-color: rgba(50, 255, 0, 0.50); }

#sentimentChart {
  background: white;
  width: 500px !important;
  height: 500px !important;
  position: absolute;
  left: 50px;
  top: 50px;
}